.donation-widget{
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 16px;
}

.donation-widget .donation-title{
    font-size: 16px;
}

.donation-widget .donation-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.donation-widget .donation-content .donation-metric{
    font-size: 40px;
    font-weight: 600;
}

.donation-widget .donation-content .donation-stat{
    color: #828282;
}