<div class="profile-section">
    <div class="profile-header">
        <img src="../../../../assets/fol2-bg.jpg" alt="Background Image" class="background-img">
        <div class="profile-pic-container">
            <img src="../../../../assets/fol1.png" alt="Profile Picture" class="profile-pic">
        </div>
    </div>
    <div class="profile-details">
        <h1 class="profile-name">{{userData}}</h1>
        <p class="profile-username">@{{userData}}</p>
        <p class="profile-bio">Software Engineer. Coffee Enthusiast. Avid Reader. Tech Lover.</p>
        <div class="profile-stats">
            <span><strong>500</strong> Following</span>
            <span><strong>1,200</strong> Followers</span>
        </div>
    </div>
    
</div>