.page[b-ek183v2ocs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ek183v2ocs] {
    position: relative;
    flex: 1;
}

.sidebar[b-ek183v2ocs] {
    /* background: linear-gradient(90deg, rgb(148, 212, 247) 0%, 11.6601%, rgb(159, 219, 250) 23.3202%, 61.6601%, rgb(25, 145, 205) 100%); */
    border-right: 1px solid #E0E0E0;
}


.top-row[b-ek183v2ocs] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a[b-ek183v2ocs], .top-row .btn-link[b-ek183v2ocs] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ek183v2ocs] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.sidebar+main[b-ek183v2ocs]{
    
}  

.sidebar.sidebar-collapse+main[b-ek183v2ocs]{
    
}  

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ek183v2ocs] {
        display: none;
    }

    .top-row.auth[b-ek183v2ocs] {
        justify-content: space-between;
    }

    .top-row a[b-ek183v2ocs], .top-row .btn-link[b-ek183v2ocs] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ek183v2ocs] {
        flex-direction: row;
    }

    .sidebar[b-ek183v2ocs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ek183v2ocs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    
}
