<div class="post-container">
    <div class="d-flex">
        <div class="img-container">
            <img src="@user.Image" width="40" height="40" class="rounded-pill" alt="">
        </div>
        <div class="post-inner-container ">
            <div class="post-content">
                <span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos incidunt inventore optio
                    tempore possimus?
                </span>
            </div>
            <div class="post-actions">
                <button class="action-btn"><img src="assets/images/like.svg" width="20" alt=""> <span>6.6</span><span>k</span>
                    Likes</button>
                <button type="button" class="action-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="assets/images/comment.svg" width="20" alt=""> <span>6.6</span><span>k</span>
                    Comments</button>
                <Modal  idName="exampleModal" ModalTitle="Comments" items="comments" />
            </div>
            
        </div>
    </div>
</div>

@code {
    [Parameter] public User user {get; set;}

    private List<Comment> comments = new List<Comment>
    {
        new Comment {Name = "Omar Khaled", Image = "https://mdbootstrap.com/img/new/avatars/3.jpg", Content = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos incidunt inventore optiotempore possimus?" },
        new Comment {Name = "Omar Khaled", Image = "https://mdbootstrap.com/img/new/avatars/3.jpg", Content = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos incidunt inventore optiotempore possimus?" },
        new Comment {Name = "Omar Khaled", Image = "https://mdbootstrap.com/img/new/avatars/3.jpg", Content = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos incidunt inventore optiotempore possimus?" },
    };
}