.kpi-widget[b-emnvyfwymd]{
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 16px;
}

.kpi-widget .kpi-title[b-emnvyfwymd]{
    font-size: 16px;
}

.kpi-widget .kpi-content[b-emnvyfwymd]{
    display: flex;
    align-items: center;
}

.kpi-widget .kpi-content .kpi-metric[b-emnvyfwymd]{
    font-size: 40px;
    font-weight: 600;
}

.kpi-widget .kpi-content .kpi-stat[b-emnvyfwymd]{
    color: #828282;
}