<div class="sidebar d-flex justify-content-md-end justify-content-center">
    <div class="sidebar-inner">
        <div class="sidebar-header">
            <div class="img-container d-flex justify-content-md-start justify-content-center">
                <img src="../../../../assets/sidebar-img.png" width="40" height="40" class="rounded-pill" alt="">
            </div>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a routerLink="/home" routerLinkActive="active" class="justify-content-md-start justify-content-center">
                        <img src="../../../../assets/home.svg" width="30" alt="">
                        <span class="d-md-inline d-none">Home</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/notifications" routerLinkActive="active" class="justify-content-md-start justify-content-center">
                        <img src="../../../../assets/notifications.svg" width="30" alt="">
                        <span class="d-md-inline d-none">Notifications</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/message" routerLinkActive="active" class="justify-content-md-start justify-content-center">
                        <img src="../../../../assets/messages.svg" width="30" alt="">
                        <span class="d-md-inline d-none">Messages</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/stream" routerLinkActive="active" class="justify-content-md-start justify-content-center">
                        <img src="../../../../assets/video_call.svg" width="30" alt="">
                        <span class="d-md-inline d-none">Video Call</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/profile" routerLinkActive="active" class="justify-content-md-start justify-content-center">
                        <img src="../../../../assets/profile.svg" width="30" alt="">
                        <span class="d-md-inline d-none">My Profile</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/more" routerLinkActive="active" class="justify-content-md-start justify-content-center">
                        <img src="../../../../assets/more.svg" width="30" alt="">
                        <span class="d-md-inline d-none">More</span>
                    </a>
                </li>
            </ul> 
        </div>
    </div>
</div>
