@using Microsoft.AspNetCore.Components.Web

<div class="search-bar">
    <input @bind="SearchTerm" @bind:event="oninput" class="search-input" type="text" placeholder="Search..." />
    <button class="search-button" @onclick="PerformSearch">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
    </button>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string SearchTerm { get; set; }

    private async Task PerformSearch()
    {
        if (OnSearch.HasDelegate)
        {
            await OnSearch.InvokeAsync(SearchTerm);
        }
    }
}
