<!-- <div>
    <h2>Create a New Post</h2>
    <form (submit)="createPost()">
        <textarea (input)="onPostContentChange($event)" [(ngModel)]="postContent" name="postContent" placeholder="Write your post here..." rows="5"></textarea>
        <app-modal class="position-absolute w-75 z-9999" [users]="searchResults" [modalBody]="modalBody" [emptyMsg]="emptyMsg" [showTitle]="true" [showCloseButton]="false"  *ngIf="showSearchComponent" ></app-modal>
        <button type="submit">Create Post</button>
    </form>
</div> -->

<div class="create-post-container">
    <div class="inner-container">
        <div class="img-container">
            <img src="../../../../assets/notfound.png" class="rounded-pill" alt="">
        </div>
        <div class="create-post-content">
            <input type="text" placeholder="What's on your mind, Omar?">
        </div>
    </div>
    <hr>
    <div class="create-post-actions">
        <div class="action-container">
            <img src="../../../../assets/video.png" alt="">
            <span>Live Video</span>
        </div>
        <div class="action-container">
            <img src="../../../../assets/photo.png" alt="">
            <span>Photo/video</span>
        </div>
        <div class="action-container">
            <img src="../../../../assets/feeling.png" alt="">
            <span>Feeling/activity</span>
        </div>
    </div>
</div>