.sidebar[b-0t85eav59p] {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #E0E0E0;
    transition: width 0.5s ease;
    z-index: 99;
}

.top-row[b-0t85eav59p]{
    border-bottom: 1px solid #E0E0E0;
}

.sidebar .navbar[b-0t85eav59p]{
    justify-content: center;
}

.sidebar-collapse[b-0t85eav59p] {
    width: 62px;
    transition: width 0.5s ease;
}

.sidebar-content[b-0t85eav59p] {
    padding: 16px 0;
}

.custom-nav-link .route-name[b-0t85eav59p]{
    display: inline;
}

.sidebar-collapse.sidebar[b-0t85eav59p]{
    padding: 0;
}

.sidebar-collapse .custom-nav-link .route-name[b-0t85eav59p]{
    display: none;
}

.sidebar-content .nav-item[b-0t85eav59p] {
    margin-bottom: 5px;
}

.sidebar-content .nav-item a[b-0t85eav59p]{
    color: #5a597b;
    padding: 16px;
}

.sidebar-collapse  .inner-content[b-0t85eav59p]{
    flex-direction: column;
    padding-left: .75rem;
}

.inner-content[b-0t85eav59p]{
    flex-direction: column;
    padding-left: 1.5rem;
}

.navbar-brand span[b-0t85eav59p] {
    color: #5a597b;
}


.sidebar-collapse .logo-text[b-0t85eav59p] {
    display: none;
    transition: display 0.5s ease;
}

.sidebar-collapse .navbar-brand[b-0t85eav59p] {
    margin-right: 0;
}

.toggleBtn[b-0t85eav59p] {
    padding: 3px 4px;
    position: absolute;
    box-shadow: none;
    top: 37%;
    right: -15px;
    background: white;
    border-radius: 50px;
    border: 1px solid white;
    
    display: flex;
    align-items: center;
}

.toggleBtn:focus[b-0t85eav59p] {
    box-shadow: none;
}

.toggleBtn .arrow[b-0t85eav59p] {
    transform: rotateZ(180deg);
    transition: transform 0.5s ease;
}

.toggleBtn .arrow-collapse[b-0t85eav59p] {
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}
