<div class="sugg-list">
    <div class="d-flex justify-content-between">
        <span class="text-custom-secondary fw-bold">Suggestions</span>
        <button class="text-custom-secondary">See All</button>
    </div>
    <div class="mt-2">
        <ul class="d-grid gap-3">
            <li>
                <app-follower-suggestion></app-follower-suggestion>
            </li>
            <li>
                <app-follower-suggestion></app-follower-suggestion>
            </li>
            <li>
                <app-follower-suggestion></app-follower-suggestion>
            </li>
        </ul>
    </div>
</div>
