.comment-create .comment-create-form{
    display: flex;
    padding: 10px 15px;
    background: #e4e4e4;
    border-radius: 35px;
    align-items: center;
    width: 100%;
}

.comment-create{
    border-bottom: 1px solid #e4e4e4;
}

.comment-create-form textarea{
    width: 100%;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: small;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
}