div {
    margin: 20px 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}