/* _content/dashboard/Shared/Comment/CommentComp.razor.rz.scp.css */
/* _content/dashboard/Shared/Global/DataTable.razor.rz.scp.css */
/* .custom--badge{
    color: rgb(47, 90, 162);
    background-color: #86b7fe;
} */

/* _content/dashboard/Shared/Global/DropDown.razor.rz.scp.css */
.dropdown-menu[b-z8la7han49] {
    background-color: paleturquoise;
}

.dropdown-item[b-z8la7han49] {
    color: white;
}

.dropdown-item:hover[b-z8la7han49] {
    background-color: #1c8cc9; 
}
/* _content/dashboard/Shared/Global/DropDownMenu.razor.rz.scp.css */
.dropdown-menu[b-r8tlgv45k7]{
    width: 500px;
    top: 50%;
    left: -200%;

}

/* _content/dashboard/Shared/Global/Modal.razor.rz.scp.css */
.modal-header[b-xdmtci9qc9]{
    justify-content: center;
}
/* _content/dashboard/Shared/Global/NavBar.razor.rz.scp.css */
.navbar[b-132yxpepqo] {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--theme-color);
    color: #fff;
    z-index: 10;
}

.navbar-left[b-132yxpepqo] {
}

.navbar-right[b-132yxpepqo] {
    display: flex;
    align-items: center;
}

.nav-button[b-132yxpepqo] {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 1em;
}

.nav-button i[b-132yxpepqo] {
    font-size: 1.2em;
}
/* _content/dashboard/Shared/Global/NavMenu.razor.rz.scp.css */
.sidebar[b-0t85eav59p] {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #E0E0E0;
    transition: width 0.5s ease;
    z-index: 99;
}

.top-row[b-0t85eav59p]{
    border-bottom: 1px solid #E0E0E0;
}

.sidebar .navbar[b-0t85eav59p]{
    justify-content: center;
}

.sidebar-collapse[b-0t85eav59p] {
    width: 62px;
    transition: width 0.5s ease;
}

.sidebar-content[b-0t85eav59p] {
    padding: 16px 0;
}

.custom-nav-link .route-name[b-0t85eav59p]{
    display: inline;
}

.sidebar-collapse.sidebar[b-0t85eav59p]{
    padding: 0;
}

.sidebar-collapse .custom-nav-link .route-name[b-0t85eav59p]{
    display: none;
}

.sidebar-content .nav-item[b-0t85eav59p] {
    margin-bottom: 5px;
}

.sidebar-content .nav-item a[b-0t85eav59p]{
    color: #5a597b;
    padding: 16px;
}

.sidebar-collapse  .inner-content[b-0t85eav59p]{
    flex-direction: column;
    padding-left: .75rem;
}

.inner-content[b-0t85eav59p]{
    flex-direction: column;
    padding-left: 1.5rem;
}

.navbar-brand span[b-0t85eav59p] {
    color: #5a597b;
}


.sidebar-collapse .logo-text[b-0t85eav59p] {
    display: none;
    transition: display 0.5s ease;
}

.sidebar-collapse .navbar-brand[b-0t85eav59p] {
    margin-right: 0;
}

.toggleBtn[b-0t85eav59p] {
    padding: 3px 4px;
    position: absolute;
    box-shadow: none;
    top: 37%;
    right: -15px;
    background: white;
    border-radius: 50px;
    border: 1px solid white;
    
    display: flex;
    align-items: center;
}

.toggleBtn:focus[b-0t85eav59p] {
    box-shadow: none;
}

.toggleBtn .arrow[b-0t85eav59p] {
    transform: rotateZ(180deg);
    transition: transform 0.5s ease;
}

.toggleBtn .arrow-collapse[b-0t85eav59p] {
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}
/* _content/dashboard/Shared/Global/SearchBar.razor.rz.scp.css */
.search-bar[b-7qk72do9b8] {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-input[b-7qk72do9b8] {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.search-button[b-7qk72do9b8] {
    background-color: #1C8CC9;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
}

.search-button .oi[b-7qk72do9b8] {
    font-size: 18px;
}

.search-button:hover[b-7qk72do9b8] {
    background-color: #3880A3;
}

.search-bar:focus-within[b-7qk72do9b8] {
    border-color: #599EC4;
}
/* _content/dashboard/Shared/MainLayout.razor.rz.scp.css */
.page[b-ek183v2ocs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ek183v2ocs] {
    position: relative;
    flex: 1;
}

.sidebar[b-ek183v2ocs] {
    /* background: linear-gradient(90deg, rgb(148, 212, 247) 0%, 11.6601%, rgb(159, 219, 250) 23.3202%, 61.6601%, rgb(25, 145, 205) 100%); */
    border-right: 1px solid #E0E0E0;
}


.top-row[b-ek183v2ocs] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a[b-ek183v2ocs], .top-row .btn-link[b-ek183v2ocs] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ek183v2ocs] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.sidebar+main[b-ek183v2ocs]{
    
}  

.sidebar.sidebar-collapse+main[b-ek183v2ocs]{
    
}  

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ek183v2ocs] {
        display: none;
    }

    .top-row.auth[b-ek183v2ocs] {
        justify-content: space-between;
    }

    .top-row a[b-ek183v2ocs], .top-row .btn-link[b-ek183v2ocs] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ek183v2ocs] {
        flex-direction: row;
    }

    .sidebar[b-ek183v2ocs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ek183v2ocs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    
}
/* _content/dashboard/Shared/Post/Post.razor.rz.scp.css */
/* _content/dashboard/Shared/Report/ReportModal.razor.rz.scp.css */
.modal-header[b-3hv7bai7ng]{
    justify-content: center;
}
/* _content/dashboard/Shared/Widgets/ChartWidget.razor.rz.scp.css */
.chart-widget[b-hqt149ae75]{
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 16px;
}
/* _content/dashboard/Shared/Widgets/DonationWidget.razor.rz.scp.css */
.donation-widget[b-6benyu368k]{
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 16px;
}

.donation-widget .donation-title[b-6benyu368k]{
    font-size: 16px;
}

.donation-widget .donation-content[b-6benyu368k]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.donation-widget .donation-content .donation-metric[b-6benyu368k]{
    font-size: 40px;
    font-weight: 600;
}

.donation-widget .donation-content .donation-stat[b-6benyu368k]{
    color: #828282;
}
/* _content/dashboard/Shared/Widgets/KpiWidget.razor.rz.scp.css */
.kpi-widget[b-emnvyfwymd]{
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 16px;
}

.kpi-widget .kpi-title[b-emnvyfwymd]{
    font-size: 16px;
}

.kpi-widget .kpi-content[b-emnvyfwymd]{
    display: flex;
    align-items: center;
}

.kpi-widget .kpi-content .kpi-metric[b-emnvyfwymd]{
    font-size: 40px;
    font-weight: 600;
}

.kpi-widget .kpi-content .kpi-stat[b-emnvyfwymd]{
    color: #828282;
}
