@inherits LayoutComponentBase

<PageTitle>dashboard</PageTitle>

<div class="page">
        <NavMenu />

    <main>
        <NavBar />

        <article class="content container">
            @Body
        </article>
    </main>
</div>
