@typeparam TItem

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            @Header
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @Row(item)
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @Footer
        </tr>
    </tfoot>
</table>

@code {
    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public RenderFragment<TItem> Row { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }
    [Parameter] public IReadOnlyList<TItem> Items { get; set; }

}
