

<div class="modal fade" id="@idName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@ModalTitle</h1>
            </div>
            <div class="modal-body d-grid gap-3">
                @foreach (var item in items){
                    <CommentComp Comment="@item" />
                }
            </div>
            @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>

@code {
    [Parameter] public string idName { get; set; }
    [Parameter] public string ModalTitle { get; set; }
    [Parameter] public List<Comment> items { get; set; }
}