<div class="navbar">
    <div class="navbar-left">
        <SearchBar />
    </div>
    <div class="navbar-right position-relative">
        <button class="nav-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @* <span class="oi oi-magnifying-glass" aria-hidden="true"></span> *@
            <img src="assets/images/notifications.svg" width="25" alt="">
        </button>
        <DropDownMenu />
        <div class="">
            <button class="nav-button profile-image">
                <img src="https://mdbootstrap.com/img/new/avatars/3.jpg" width="40" height="40" class="rounded-pill"
                    alt="">
            </button>
            <span>
                Omar Khaled
            </span>
        </div>

    </div>
</div>

@code {

}
