.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #E0E0E0;
    transition: width 0.5s ease;
    z-index: 99;
}

.top-row{
    border-bottom: 1px solid #E0E0E0;
}

.sidebar .navbar{
    justify-content: center;
}

.sidebar-collapse {
    width: 62px;
    transition: width 0.5s ease;
}

.sidebar-content {
    padding: 16px 0;
}

.custom-nav-link .route-name{
    display: inline;
}

.sidebar-collapse.sidebar{
    padding: 0;
}

.sidebar-collapse .custom-nav-link .route-name{
    display: none;
}

.sidebar-content .nav-item {
    margin-bottom: 5px;
}

.sidebar-content .nav-item a{
    color: #5a597b;
    padding: 16px;
}

.sidebar-collapse  .inner-content{
    flex-direction: column;
    padding-left: .75rem;
}

.inner-content{
    flex-direction: column;
    padding-left: 1.5rem;
}

.navbar-brand span {
    color: #5a597b;
}


.sidebar-collapse .logo-text {
    display: none;
    transition: display 0.5s ease;
}

.sidebar-collapse .navbar-brand {
    margin-right: 0;
}

.toggleBtn {
    padding: 3px 4px;
    position: absolute;
    box-shadow: none;
    top: 37%;
    right: -15px;
    background: white;
    border-radius: 50px;
    border: 1px solid white;
    
    display: flex;
    align-items: center;
}

.toggleBtn:focus {
    box-shadow: none;
}

.toggleBtn .arrow {
    transform: rotateZ(180deg);
    transition: transform 0.5s ease;
}

.toggleBtn .arrow-collapse {
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}
