.search-bar {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-input {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.search-button {
    background-color: #1C8CC9;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
}

.search-button .oi {
    font-size: 18px;
}

.search-button:hover {
    background-color: #3880A3;
}

.search-bar:focus-within {
    border-color: #599EC4;
}
