<div class="post-container">
    <div class="post-header">
        <!-- <img [src]="post.authorProfilePicture" alt="Profile Picture"> -->
        <div class="author-info">
            <span>{{ comment?.authorName }}</span>
            <span class="post-date">{{ comment?.datePosted }}</span>
        </div>
    </div>
    <div class="post-content">
        <p>{{ comment?.content }}</p>
        <!-- <img *ngIf="post.imageURL" [src]="post.imageURL" alt="Post Image"> -->
    </div>
    <div class="post-footer">
        <button (click)="likeComment()">Like</button>
        <span>{{ comment?.likeCount }} Likes</span>
    </div>
</div>