<div class="w-100 vh-100 bg-info-subtle">
    <div class="w-75 m-auto py-5 ">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
            <div *ngIf="errorMsg" class="alert alert-danger">
                {{errorMsg}}
            </div>

            <div class="alert alert-danger"
                *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
                {{ getErrorMessage('name') }}
            </div>

            <label for="name" class="text-capitalize my-1">name</label>
            <input formControlName="name" class="form-control" type="text" id="name">


            <div class="alert alert-danger"
                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                {{ getErrorMessage('email') }}
            </div>

            <label for="email" class="text-capitalize my-1">email</label>
            <input formControlName="email" class="form-control" type="text" id="email">

            <div class="alert alert-danger"
                *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                {{ getErrorMessage('password') }}
            </div>

            <label for="password" class="text-capitalize my-1">password</label>
            <input formControlName="password" class="form-control" type="password" id="password">

            <div class="invalid-feedback"
                *ngIf="registerForm.get('rePassword')?.invalid && (registerForm.get('rePassword')?.dirty || registerForm.get('rePassword')?.touched)">
                {{ getErrorMessage('rePassword') }}
            </div>

            <label for="rePassword" class="text-capitalize my-1">rePassword</label>
            <input formControlName="rePassword" class="form-control" type="password" id="rePassword">

            <div class="alert alert-danger"
                *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)">
                {{ getErrorMessage('phone') }}
            </div>

            <label for="phone" class="text-capitalize my-1">phone</label>
            <input formControlName="phone" class="form-control" type="text" id="phone">
            <div class="text-end text-center d-flex justify-content-end ">
                <p class="my-3 px-2 ">Already have account?<a class="text-decoration-none" routerLink="/login"> Login </a></p>
            
                <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary my-2">
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                    <span *ngIf="!isLoading">Register</span> 
                </button>
            </div>
        </form>
    </div>
</div>