<div class="donation-widget">
    <h3 class="donation-title">Donations Received</h3>
    <div class="donation-content">
        <span class="donation-metric"><span>$</span>45,678</span>
    </div>
    <div class="donation-stat">
        +<span class="donation-percent">20</span>% <span>monthly growth</span>
    </div>
</div>