<div class="kpi-widget">
    <h3 class="kpi-title">Users</h3>
    <div class="kpi-content">
        <span class="kpi-metric">@ModalNumber</span>
        <img src="assets/images/dot.svg" class="text-primary" width="35" height="35" alt="User activity icon">
    </div>
    <div class="kpi-stat">
        +<span class="kpi-percent">20</span>% <span>monthly growth</span>
    </div>
</div>
@code{
    [Parameter] public string ModalNumber { get; set; }
}