<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3 class="messages-header">Messages</h3>
  </div>
    <div class="col-12" *ngIf="!isConnectedToGroup">
      <h3 class="text-center">Group List</h3>
      <div class="chat-container">
        <div>
          <h3>Join a Group</h3>
          <form (ngSubmit)="joinGroup()">
            <div class="form-group">
              <label for="groupName">Group Name</label>
              <input type="text" id="groupName" [(ngModel)]="groupName" name="groupName" class="form-control"
                required />
            </div>
            <button type="submit" class="btn btn-primary">Join Group</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3 class="text-center">Friend List</h3>
    </div>
    <div class="col-12" *ngIf="friends.length > 0">
      <app-message-friend *ngFor="let friend of friends" [friend]="friend"></app-message-friend>
    </div>
    <div *ngIf="friends.length === 0">
      No friends to display.
    </div>
  </div>
</div>